# Kafka Configuration
KAFKA_PORT=9092

# Empty Window Strategy
# Options: ZERO_FILL, SKIP, LAST_VALUE
EMPTY_WINDOW_STRATEGY=ZERO_FILL

# Data Storage API URL
DATA_STORAGE_API_URL=http://localhost:8080
